/* *{margin: 0; padding: 0px;} */
.login{
    /* list-style: none; */
    /* align-items: center; */
    /* text-align: center; */
    border-radius: 5px;
    margin: 10px; 
    padding: 3% 10%;
    border: 1px solid rgb(67, 76, 83);
    background-color: rgba(110, 123, 134, 0.178);
    border: 5px;
    width: 280px;
    height: 240px;
    color: gray;
    padding: 5px 10px;
}

.login > h3{
    color: rgb(166, 28, 230);
    
}

.login ul{
    margin: 5px 20px;
    border-radius: 5px;
    list-style: none;
    width:200px;
    height: 100px;
    
}

.login li{
    /* margin: 5px 0px; */
    padding-top: 5px ;
    border-radius: 5px;
    border-color: black;
}

.login_form input[type="email"], .login_form input[type="password"]{
    width: 100%;
    height : 60px;
    border-radius: 5px;
    border-color: black;
    background-color: 10,10,10,0.1;

}

.login_form input[type="checkbox"]~span{
    color: blueviolet;
}

.login_form input[type="email"]~span{
    color: gray;
}


/* ul>li:hover{
    border-radius: 5px;
    width: 100%;
    
    color: black;
} */

.login li>input#email{
    background-color: rgb(180, 176, 176);
    border-radius: 5px;
    color: black;

}

.login li>input#email:hover{
    background-color: rgb(190, 45, 45);
    border-radius: 5px;
    color: black;

}

.login li>input#password{
    background-color: rgb(180, 176, 176);
    border-radius: 5px;
    color: white;
}

.login li>input#password:hover{
    
    background-color: rgb(95, 58, 180);
    border-radius: 5px;
    color: white;
}

/* 접근자 : id는 # , class는 .(점) , > : 하위 태그 접근 , space : 손자 접근(하위의 하위)
~은 태그명 뒤에 있는 태그 접근자 
    
+ : 형제 : li가 여러가지가 있을 때 li에 id가 선택되었을 때 옆에 있는 li에 접근할 수 있는 
*/

#idsave~span{
        color: rgb(199, 43, 43)
}
#idsave~span:hover{
    color: black;
}

input[type="submit"]{
    background-color: rgb(182, 74, 192);
    color: white;
    border-radius: 9px;
    border-color: rgba(255, 255, 255, 0);
    width: 100%;
    height: 30px;
}

/* input에 있는 submit의 설정을 하려면 []가 필요 */
input[type="submit"]:hover{
    background-color: rgb(182, 74, 192);
    color: rgb(0, 0, 0);
    border-radius: 9px;
    border-color: rgba(255, 255, 255, 0);
    width: 100%;
    height: 30px;
}
/* li>input#submit{ */

/* } */